#game1 {
    position: relative;
}

.text-question {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color:blueviolet;
}

#heading {
    font-size: 50px;
}

.picture-artist {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 500px;
    overflow: hidden;
    border: 3px solid red;
}
.picture-artist img {
    /* width: 100%; */
    height: 100%;
}

.answers-artist {
    height: 100px;
    max-width: 1000px;
    border: 3px solid red;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}



.answer {
    padding-left: 50px;
    border: 3px solid red;
    font-size: 40px;
    width: 50%;
    background-color:aquamarine;
    cursor: pointer;
}
.answer:hover {

    background-color:cadetblue;

}

.dots {
    width: 500px;
    height: 30px;
    /* border: 3px solid red; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    /* position: absolute;
    bottom: 50px; */

}

.dot {
    width: 20px;
    height: 20px;
    border: 3px solid blue;
    border-radius: 50%;
    background-color:gray;
}